<div class="container">
  <button class="btn btn-warning" style="float: right;" routerLink="/check" >Grid</button>
    <h1 class="foodlist">Food List</h1><br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Food Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let f of food">
          <td>{{f.id}}</td>
          <td>{{f.name}}</td>
          <td>{{f.price}} &#8377;</td>
         <button class="btn btn-info" (click)="add(f)">Add</button>
        </tr>
        </tbody>
        </table>
    <br><br>
  </div>

  
    <div class="container" [hidden]=!showFood>
    <h1 class="text-info">Basket of Food</h1><br>

    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Food Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let f1 of food1">
            <td>{{f1.name}}</td>
            <td>{{f1.price}} &#8377;</td>
          </tr>
          </tbody>
          </table>
          <br>

          <h2 class="s text-success">Total Amount - {{c}} &#8377;</h2>
          <br>
          <div class="text-center">   
          <button class="btn btn-danger" (click)="onCheckout()">Checkout</button>
          </div>
          <br>
    </div>

    <div class="container" [hidden]=!showpayment >

      <h2 class="text-info">Payment Option</h2><br>
      <div class="list-group">
        <a href="#" class="list-group-item">Debit card</a>
        <a href="#" class="list-group-item">Credit card</a>
        <a href="#" class="list-group-item">Net Banking</a>
        <a href="www.paytm.com" class="list-group-item">Paytm</a>
      </div>
      <br>
    </div>
    
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-beat">
></ngx-spinner>