.t{
height: 100%;
   text-align: center;
    vertical-align: middle;
    /* top:200%; */
    /* background-color: blue; */
    /* line-height: 500px; */
    /* position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
/* .t h1{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top:50%;
}
.t p{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top:55%;
} */